
<div class="contactUs" >
    <div class="title">
      <h2>Свяжитесь с нами</h2>
    </div>
    <div class="box">
      <!-- contact form -->

      <div class="contact form">
        <h3>Отправить сообщение</h3>
        <form method="post" action="/">
          <div class="formBox">
            <div class="row50">
              <div class="inputBox">
                <span>Имя</span>
                <input name="firstName" type="text" placeholder="Имя" />
              </div>
              <div class="inputBox">
                <span>Фамилия</span>
                <input name="lastName" type="text" placeholder="Фамилия" />
              </div>
            </div>

            <div class="row50">
              <div class="inputBox">
                <span>Email</span>
                <input name="email" type="email" placeholder="123@email.com" />
              </div>
              <div class="inputBox">
                <span>Номер телефона</span>
                <input name="phoneNumber" type="text" placeholder="88005553535" />
              </div>
            </div>

            <div class="row100">
              <div class="inputBox">
                <span>Сообщение</span>
                <textarea name="message" placeholder="Ваше сообщение..."></textarea>
              </div>
            </div>

            <div class="row100">
              <div class="inputBox">
                <input type="submit" value="Отправить"/>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- info box -->

      <div class="contact info">
        <h3>Контактная информация</h3>
        <div class="infoBox">
          <div class="">
            <span><ion-icon name="location"></ion-icon></span>
            <p>Иркутская область, Иркутск <br />Россия</p>
          </div>

          <div class="">
            <span><ion-icon name="mail"></ion-icon></span>
            <a href="mailto:reklama322@gmail.com">reklama322@gmail.com</a>
          </div>

          <div class="">
            <span><ion-icon name="phone-portrait"></ion-icon></span>
            <a href="tel:+79501011142">+7 950 101 1142</a>
          </div>

          <!-- social media links -->
          <ul class="sci">
            <li>
              <a href="https://vk.com/"><ion-icon name="logo-vk"></ion-icon></a>
            </li>
            <li>
              <a href="#"><ion-icon name="send-outline"></ion-icon></a>
            </li>
            <!-- <li>
              <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            </li> -->
            <li>
              <a href="https://ru.linkedin.com/"><ion-icon name="logo-linkedin"></ion-icon></a>
            </li>
          </ul>
        </div>
      </div>

      <!-- map -->

      <div class="contact map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2440.315641505597!2d104.29125431568298!3d52.2921252608443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5da83b3166e4a707%3A0x240b05b385a6b244!2z0L_QtdGALiDQnNCe0J_QoNCQLCA1LCDQmNGA0LrRg9GC0YHQuiwg0JjRgNC60YPRgtGB0LrQsNGPINC-0LHQuy4sIDY2NDAwNw!5e0!3m2!1sru!2sru!4v1645876541404!5m2!1sru!2sru"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
    <p class="copyrightText">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    </p>
  </div>
  