<div class="container-fluid footer-container">
  <div class="center-block text-center">
    <div class="container-sm social-icons">
      <a href="https://vk.com/" class="vk-link"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 48 48"
          width="48px"
          height="48px">
          <path fill="#1976d2" d="M24 4A20 20 0 1 0 24 44A20 20 0 1 0 24 4Z" />
          <path
            fill="#fff"
            d="M35.937,18.041c0.046-0.151,0.068-0.291,0.062-0.416C35.984,17.263,35.735,17,35.149,17h-2.618 c-0.661,0-0.966,0.4-1.144,0.801c0,0-1.632,3.359-3.513,5.574c-0.61,0.641-0.92,0.625-1.25,0.625C26.447,24,26,23.786,26,23.199 v-5.185C26,17.32,25.827,17,25.268,17h-4.649C20.212,17,20,17.32,20,17.641c0,0.667,0.898,0.827,1,2.696v3.623 C21,24.84,20.847,25,20.517,25c-0.89,0-2.642-3-3.815-6.932C16.448,17.294,16.194,17,15.533,17h-2.643 C12.127,17,12,17.374,12,17.774c0,0.721,0.6,4.619,3.875,9.101C18.25,30.125,21.379,32,24.149,32c1.678,0,1.85-0.427,1.85-1.094 v-2.972C26,27.133,26.183,27,26.717,27c0.381,0,1.158,0.25,2.658,2c1.73,2.018,2.044,3,3.036,3h2.618 c0.608,0,0.957-0.255,0.971-0.75c0.003-0.126-0.015-0.267-0.056-0.424c-0.194-0.576-1.084-1.984-2.194-3.326 c-0.615-0.743-1.222-1.479-1.501-1.879C32.062,25.36,31.991,25.176,32,25c0.009-0.185,0.105-0.361,0.249-0.607 C32.223,24.393,35.607,19.642,35.937,18.041z"
          /></svg></a>
      <a href="https://twitter.com" class="tw-link"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 48 48"
          width="48px"
          height="48px"
        >
          <path
            fill="#03A9F4"
            d="M42,12.429c-1.323,0.586-2.746,0.977-4.247,1.162c1.526-0.906,2.7-2.351,3.251-4.058c-1.428,0.837-3.01,1.452-4.693,1.776C34.967,9.884,33.05,9,30.926,9c-4.08,0-7.387,3.278-7.387,7.32c0,0.572,0.067,1.129,0.193,1.67c-6.138-0.308-11.582-3.226-15.224-7.654c-0.64,1.082-1,2.349-1,3.686c0,2.541,1.301,4.778,3.285,6.096c-1.211-0.037-2.351-0.374-3.349-0.914c0,0.022,0,0.055,0,0.086c0,3.551,2.547,6.508,5.923,7.181c-0.617,0.169-1.269,0.263-1.941,0.263c-0.477,0-0.942-0.054-1.392-0.135c0.94,2.902,3.667,5.023,6.898,5.086c-2.528,1.96-5.712,3.134-9.174,3.134c-0.598,0-1.183-0.034-1.761-0.104C9.268,36.786,13.152,38,17.321,38c13.585,0,21.017-11.156,21.017-20.834c0-0.317-0.01-0.633-0.025-0.945C39.763,15.197,41.013,13.905,42,12.429"
          /></svg></a>
      <a href="#" class="youtube-link"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 48 48"
          width="48px"
          height="48px"
        >
          <path
            fill="#FF3D00"
            d="M43.2,33.9c-0.4,2.1-2.1,3.7-4.2,4c-3.3,0.5-8.8,1.1-15,1.1c-6.1,0-11.6-0.6-15-1.1c-2.1-0.3-3.8-1.9-4.2-4C4.4,31.6,4,28.2,4,24c0-4.2,0.4-7.6,0.8-9.9c0.4-2.1,2.1-3.7,4.2-4C12.3,9.6,17.8,9,24,9c6.2,0,11.6,0.6,15,1.1c2.1,0.3,3.8,1.9,4.2,4c0.4,2.3,0.9,5.7,0.9,9.9C44,28.2,43.6,31.6,43.2,33.9z"
          />
          <path fill="#FFF" d="M20 31L20 17 32 24z" /></svg></a>
    </div>
  </div>
  <div class="adress center-block text-center">
    <div class="container-sm adress-item">
      <a href="#" class="adress-content"
        ><svg
          class="location-ico"
          height="479pt"
          viewBox="-55 1 479 479.99946"
          width="479pt"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <linearGradient
            id="a"
            gradientUnits="userSpaceOnUse"
            x1="184.49973"
            x2="184.49973"
            y1="-18.704"
            y2="502.08"
          >
            <stop offset="0" stop-color="#006df0" />
            <stop offset="1" stop-color="#00e7f0" />
          </linearGradient>
          <g fill="url(#a)">
            <path
              d="m184.5 0c-101.574219.113281-183.886719 82.425781-184 184 0 99.199219 170.839844 285.535156 178.121094 293.425781 1.511718 1.640625 3.644531 2.574219 5.878906 2.574219s4.363281-.933594 5.878906-2.574219c7.28125-7.890625 178.121094-194.226562 178.121094-293.425781-.113281-101.574219-82.425781-183.886719-184-184zm0 460.054688c-30.398438-34.0625-168-192.925782-168-276.054688 0-92.785156 75.214844-168 168-168s168 75.214844 168 168c0 83.128906-137.601562 241.992188-168 276.054688zm0 0"
            />
            <path
              d="m184.5 112c-39.765625 0-72 32.234375-72 72s32.234375 72 72 72 72-32.234375 72-72c-.042969-39.746094-32.253906-71.957031-72-72zm0 128c-30.929688 0-56-25.070312-56-56s25.070312-56 56-56c30.925781 0 56 25.070312 56 56-.035156 30.914062-25.085938 55.964844-56 56zm0 0"
            />
          </g></svg><span class="adress-name">Иркутск</span></a>
    </div>
  </div>
  <div class="container-fluid text-center row navbar-footer">
    <div class="col">
      <a href="/" class="footer-navbar-link">Главная</a>
    </div>
    <div class="col">
      <a href="/contacts" class="footer-navbar-link">Контакты</a>
    </div>
    <div class="col">
      <a href="/services" class="footer-navbar-link">Услуги</a>
    </div>
    <div class="col">
      <a href="/about" class="footer-navbar-link">О нас</a>
    </div>
  </div>
  <div class="container-fluid terms-footer text-center">
    <p class="terms-content">
      All Rights Reserved © Indie Boost - 655 Montgomery Street San Francisco,
      CA 9411 - 9201 Oakdale Ave Chatsworth Los Angeles, CA
    </p>
  </div>
  <div class="container-fluid logo text-center">
    <a href="#" class="logo-link"><img src="#" alt="logo" /></a>
  </div>
</div>
