<section>
  <div class="logo">IEC</div>
  <img src="/img/bg2.jpg" alt="bg" srcset="" class="bg" />
  <div class="content">
    <h2>Glovepicker</h2>
    <p>
      В современных условиях пандемии Covid-19 особую актуальность демонстрирует
      проблема самостоятельного снятия с руки загрязненной защитной перчатки в
      так называемых красных зонах больниц. Предлагаемое устройство позволяет
      быстро и безопасно снять с руки загрязненную перчатку, обработать руку и
      снятую перчатку специализированными средствами с последующей их
      утилизацией вместе со снятой перчаткой. Снятие перчатки происходит
      мгновенно и без чьей-либо помощи.
    </p>
    <a href="#read">Read More</a>
  </div>
</section>

<!-- menu -->

<!-- texblock -->
<section>
  <div class="heroContainer">
    <div class="heroContent">
      <a name="read"></a>
      <h2>Перчаткосниматель</h2>
      <div class="textContainer">
        <p  class="description"> 
          Перчаткосниматель -уникальная, запатентованное устройство для
          самостоятельного снятия с&nbsp;руки загрязнённой защитной перчатки.
          Данное устройство является абсолютно уникальным в&nbsp;России
          и&nbsp;за&nbsp;рубежом.
        </p>
        <p class="description">
          В&nbsp;современном мире полном загрязнений и&nbsp;инфекции абсолютной
          необходимостью является применение средств индивидуальной защиты,
          в&nbsp;частности резиновых перчаток. В&nbsp;настоящее время текущая
          пандемия является наиболее ярким примером необходимости применения
          защитных перчаток. Также не&nbsp;стоит забывать о&nbsp;таких страшных
          болезнях как СПИД, гепатит&nbsp;С, и&nbsp;т.д. Представим себе
          ситуацию, когда хирург, проводящий операцию зараженному пациенту,
          повреждает перчатку иглой, инструментом, костью в&nbsp;этой ситуации
          ему необходимо немедленно освободится от поврежденной перчатки, при
          этом не&nbsp;загрязнив биологическими жидкостями, содержащими вирусы,
          себя, окружающих и&nbsp;воздух.
        </p>
      </div>
      <div class="imageContainer">
        <img src="img1/dev/1car.jpg" alt="" srcset="">
      </div>
      <div class="imageContainer2">
        <img src="img1/dev/2car.jpg" alt="" srcset="">
      </div>
      <div class="textContainer">
        <p>
          Согласно статистике, частота проколов перчатки зависит
          от&nbsp;продолжительности оперативного вмешательства. При
          продолжительности оперативного вмешательства в течении 15&nbsp;минут,
          риск прокола составляет&nbsp;3%, в&nbsp;течении 45-90
          минут&nbsp;&mdash; 30,2%, свыше 2 часов&nbsp;&mdash; 90%. Самая частая
          причина повреждения перчаток в&nbsp;хирургии&nbsp;&mdash;
          хирургическая игла, до&nbsp;77%.
        </p>
      </div>
      
      <div class="textContainer">
        <p>
          В&nbsp;условиях пандемии Covid-19 особую актуальность демонстрирует
          проблема самостоятельного снятия с&nbsp;руки загрязненной защитной
          перчатки в&nbsp;так называемых красных зонах больниц. Эти зоны
          повышенной биологической опасности организованы для максимального
          отсечения вируса от&nbsp;окружающего мира. Наличие дополнительных
          людей, для помощи в&nbsp;снятии средств индивидуальной защиты
          не&nbsp;предусмотрены, т.к. это ненужный риск заражения людей. Это
          в&nbsp;первую очередь касается перчаток, т.к. они являются расходным
          материалом в&nbsp;медицинской практике.
        </p>
        <p>
          Стоит заметить, что хирургия одна из&nbsp;огромного числа областей,
          где необходимо применение защитных перчаток. Перчатки необходимы
          в&nbsp;медицине, фармацевтике, пищевой промышленности, химической
          промышленности, и&nbsp;в&nbsp;любых областях, где работа связана
          с&nbsp;вредными и&nbsp;опасными для человека веществами. Применение
          предлагаемого нами устройства позволит многократно снизить риск
          заражения людей.
        </p>
      </div>
      <div class="imageContainer">
        <img src="img1/dev/3car.jpg" alt="" srcset="">
      </div>
      <div class="textContainer">
      <p>
        Кроме медицины данное устройство применяется в&nbsp;подавляющем
        большинстве отраслей. оно хорошо зарекомендовало себя
        в&nbsp;лабораториях , где перчатки необходимый предмет. Нефтяная и
        газовая промышленность, атомная и&nbsp;химическая отрасли, всё это зона
        применения перчаткоснимателя. Автомастерские, окрасочные производства
        и&nbsp;даже бургерные, где предлагают резиновые перчатки, используют
        наше устройство.
      </p>
    </div>
    </div>
    <!-- <img src="newImg\IMG1.jpg" alt="bg" srcset="" class="left" /> -->
  </div>
</section>
