<div class="menuToggle" onclick="toggleMenu()"></div>
  <div class="navigation">
    <ul>
      <li><a href="/">Главная</a></li>
      <li><a href="/galery">Галерея</a></li>
      <!-- <li><a href="#contact">Контакты</a></li> -->
      <!-- <li><a href="#">Features</a></li> -->
    </ul>
    <div class="socialBar">
      <ul>
        <li>
          <a href="#"><img src="img/vk-nocircle.png" alt="" srcset="" /></a>
        </li>
        <li>
          <a href="#"><img src="img/twitter.png" alt="" srcset="" /></a>
        </li>
        <li>
          <a href="#"><img src="img/telegram48.png" alt="" srcset="" /></a>
        </li>
      </ul>
      <!-- <a href="#"
        ><img src="img/email.png" class="emailBx" alt="" srcset=""
      /></a> -->
    </div>
  </div>