<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head');%>

  <body class="galery">
    <!-- menu -->
    <%- include('./partials/menu');%>

    <%- include('./partials/photo-galery');%>


    <%- include('./partials/scripts');%>
  </body>
</html>
