<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head');%>
</head>

<body>
    <div class="container-fluid full-body">
        <%- include('./partials/navbar');%>
            <div class="container">
                <div class="d-flex justify-content-center">
                    <h2>Title</h2>
                </div>
                <div class="container-sm row">
                    <div class="col-6">
                        <p>С другой стороны начало повседневной работы по формированию позиции способствует подготовки и
                            реализации новых
                            предложений. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров в
                            значительной степени
                            обуславливает создание дальнейших направлений развития. Задача организации, в особенности же
                            реализация намеченных
                            плановых заданий влечет за собой процесс внедрения и модернизации систем массового участия.
                            Не следует, однако забывать,
                            что дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по
                            разработке существенных
                            финансовых и административных условий. С другой стороны новая модель организационной
                            деятельности способствует
                            подготовки и реализации форм развития. Значимость этих проблем настолько очевидна, что рамки
                            и место обучения кадров
                            способствует подготовки и реализации соответствующий условий активизации.
                    </div>
                    <div class="col-6">
                        <%- include('./partials/email_form');%>
                    </div>
                </div>
            </div>
            <div class="container custom-divider"></div>

            <div class="container">
                <div class="container-sm row">
                    <div class="col-sm">
                        <p class="h1">Title</p>
                        <img src="img/placeholder600x400.jpg" alt="" class="img-fluid">
                    </div>

                    <div class="col-sm">
                        <p class="h2">Title</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in suscipit elit. Nunc
                            lacinia iaculis augue ut tempus.
                            Proin nunc massa, bibendum sit amet ligula id, ultrices luctus ipsum. Sed maximus elementum
                            ornare. Cras condimentum
                            consectetur lorem, ac accumsan dolor ultricies vel. Duis sodales efficitur mauris quis
                            mollis. Donec efficitur ornare
                            sem, at ultricies elit vehicula et. Sed mauris mi, finibus vel tempor eget, iaculis id sem.
                            Phasellus vel mi sed nulla
                            ornare laoreet. Duis placerat eros non turpis vestibulum, eu posuere sem sagittis. Etiam est
                            odio, interdum in egestas
                            bibendum, elementum nec ligula. Ut ac sapien lectus. Suspendisse eu imperdiet mauris. Sed
                            venenatis vulputate laoreet.
                            Aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>

            <div class="container custom-divider"></div>
            
            <div class="container">
                <div class="container-sm row gy-5">
                    <div class="card col-sm" style="width: 18rem;">
                        <img src="img/textcard.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                        </div>
                    </div>
                    <div class="card col-sm" style="width: 18rem;">
                        <img src="../img/textcard.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                        </div>
                    </div>
                    <div class="card col-sm" style="width: 18rem;">
                        <img src="../img/textcard.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                        </div>
                    </div>
                    <div class="card col-sm" style="width: 18rem;">
                        <img src="../img/textcard.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's
                                content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container custom-divider"></div>
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-6">
                        <h4>Lorem ipsum dolor sit amet</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in suscipit elit.</p>
                    </div>
                    <div class="col-6">
                        <div class="container bottom-callback">
                            <button type="button" class="btn btn-outline-info">Заказать что-нибудь</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <footer>
        <%- include('./partials/footer');%>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>