<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head');%>
</head>
<body>
    <%- include('./partials/navbar');%>
    <div class="container-fluid full-body">
        <div class="container-sm row">
            <div class="col-6">

            </div>
            <div class="col-6">
                <form>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    <div class="container custom-divider"></div>

    <div class="container">
        <div class="container-sm row">
            <div class="col-sm">
                <p class="h1">Title</p>
                <img src="img/placeholder600x400.jpg" alt="" class="img-fluid">
            </div>
            
            <div class="col-sm">
                <p class="h2">Title</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in suscipit elit. Nunc lacinia iaculis augue ut tempus.
                Proin nunc massa, bibendum sit amet ligula id, ultrices luctus ipsum. Sed maximus elementum ornare. Cras condimentum
                consectetur lorem, ac accumsan dolor ultricies vel. Duis sodales efficitur mauris quis mollis. Donec efficitur ornare
                sem, at ultricies elit vehicula et. Sed mauris mi, finibus vel tempor eget, iaculis id sem. Phasellus vel mi sed nulla
                ornare laoreet. Duis placerat eros non turpis vestibulum, eu posuere sem sagittis. Etiam est odio, interdum in egestas
                bibendum, elementum nec ligula. Ut ac sapien lectus. Suspendisse eu imperdiet mauris. Sed venenatis vulputate laoreet.
                Aliquam erat volutpat.</p>
            </div>
        </div>
    </div>
    <div class="container custom-divider"></div>
        <div class="container">
        <div class="container-sm row gy-5">
        <div class="card col-sm" style="width: 18rem;">
            <img src="img/textcard.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
        </div>
            <div class="card col-sm" style="width: 18rem;">
                <img src="../img/textcard.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
            </div>
            <div class="card col-sm" style="width: 18rem;">
                <img src="../img/textcard.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
            </div>
            <div class="card col-sm" style="width: 18rem;">
                <img src="../img/textcard.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container custom-divider"></div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in suscipit elit.</p>
            </div>
            <div class="col-6">
                <div class="container bottom-callback">
                    <button type="button" class="btn btn-outline-info">Заказать что-нибудь</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <footer>
        <%- include('./partials/footer');%>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>